/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.option {
  border: thin solid black;
  margin: 15px;
  border-radius: 10px;
  padding: 40px 10px;
  cursor: pointer;
}

.option a {
  text-decoration: none;
  color: black;
}

.incorrect {
  background-color: salmon;
}

.correct {
  background-color: lightgreen;
}

#score {
  float: right;
  border: 4px solid lightblue;
  border-radius: 7px;
  padding: 10px;
}

#question {
  clear: both;
}

td {
  padding: 10px;
}

body {
  font-size: 3em;
}

.result-box {
  width: 10px;
  height: 10px;
  float: left;
  margin: 5px;
  padding: 5px;
  border: thin solid black;
}

.result-box .correct {
  background-color: lightgreen;
}
.result-box .incorrect {
  background-color: salmon;
}
.result-box .current {
  border: thin solid blue;
}
#result-bar {
  height: 15px;
}

#timer {
  text-align: center;
}
#timer.yellow {
  color: orangered;
  font-size: 3em;
}
#timer.red {
  color: red;
  font-weight: bolder;
  font-size: 4em;
}
